{
  "env": {
    "targets": {
      "node": 18
    }
  },
  "jsc": {
    "baseUrl": ".",
    "loose": false,
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "parser": {
      "decorators": false,
      "dynamicImport": false,
      "syntax": "ecmascript"
    },
    "target": "es2022"
  },
  "minify": true,
  "module": {
    "lazy": false,
    "noInterop": true,
    "strict": true,
    "strictMode": true,
    "type": "nodenext"
  }
}
